@page "/"
@model AndrecutEmanuelMedii.Pages.Trains.IndexModel

@{
    ViewData["Title"] = "Trains";
}

<h1>Trains</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Train[0].OperatingCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train[0].DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train[0].TrainStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train[0].DestinationTrainStation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Train) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationTrainStation.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
